.main-container{
    background-color: #FBD062;
    height: auto;
    margin-top: 150px;
    width: 100%;
}
.input-style{
    width: 630px; 
}

.textArea-style{
    width: 630px;
    outline: none;
    border: none;
}

.footer-button {
    height: 44px;
    width: 134px;
    background-color: #111430;
    color: white;
    border-radius: 5px;
    padding: 10px, 47px, 10px, 47px;
  }
  


@media(max-width: 1200px){
    .input-style{
        width: 320px;
        margin-left: 25px;
    }
    .textArea-style{
        width: 320px;
        margin-left: 25px;
    }
    .footer-button{
        margin-left: 25px;
    }
}




